 
<style>
p{
font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
font-stretch: expanded;
color: white;
font: 20px Arial, sans-serif;
border: 5px solid darkred;
text-shadow: 2px 2px #ff0000;
}
h1 {
color: white;
text-align: center;
font-weight: bold
background-color: red;
border: 1px solid #660006;
margin: 10px 15px 10px 15px;
padding: 10px 10px 10px 10px;
font-variant: small-caps;
font-size: large;
text-shadow: 2px 2px #ff0000;
}
h2 {
color: white;
text-align: center;
background-color: blue;
font-size: larger;
font-style: italic;
font-weight: bold
margin: 10px 15px 10px 15px;
padding: 10px 10px 10px 10px;
text-shadow: 2px 2px #ff0000;
}
h3 {
    text-align: center;
    color: white;
    background-color: navy;
    font-weight: bold
}

.Ingredients, .Directions{
    background-color:rgb(114, 152, 165);
    border: 3px yellowgreen;
}
.Container{
    background-color:lightblue
    max-width: 960px;
    margin: 1em auto;

}
img {
    width: 100%;
    height: auto;
    }
</style>